# Install this package and dependencies into a virtual enviroment 
# (venv) with the following three shell commands:
# python3.8 -m venv env
# source /env/bin/activate
# pip3 install -r requirements.txt
python-dateutil==2.8.1
numpy==1.18.1
pandas==1.1.1
progressbar2==3.47.0
spacepy==0.2.1
h5py==2.10.0